#footer {
	padding: 85px 0;
	background: #222831;
	color: #fff;
	z-index: 99;
	margin-top: 110px;
}

.footer-parent {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.footer-item {
	-ms-flex-preferred-size: calc(50% - 30px);
	flex-basis: calc(50% - 30px);
	padding: 10px 0;
	margin: 10px 0;
}
.footer-socials-parent, .footer-text-parent {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}
.logo {}
.footer-logo {}
.footer-logo-img {}
.footer-text {
	font-weight: 500;
	font-size: 18px;
	line-height: 140%;
}
.footer-info {
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
}
.footer-socials {
	margin-right: 30px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.footer-socials-link {
	display: block;
	width: 48px;
	height: 48px;
	margin: 0 25px;
	background: #F9BF79;
	border-radius: 50%;
	text-align: center;
	vertical-align: middle;
}
.footer-socials-link i {
	font-size: 30px;
	line-height: 48px;
}

.form-block-parent-2 {
	display: none;
}


@media (max-width: 1276px) {

	.footer-parent {
		margin: 0 auto;
		width: 680px;
		max-width: 100%;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}

	.form-block-parent-2 {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-transform: translateY(-140px);
		-ms-transform: translateY(-140px);
		transform: translateY(-140px);
		margin: 0 20px;
		margin-bottom: -70px;
	}

	.footer-item {
		padding: 0;
		margin: 20px 0;
	}

	.footer-text-parent {
		text-align: center;
	}

	.footer-info-parent {
		-webkit-box-ordinal-group: 3;
		-ms-flex-order: 2;
		order: 2;
	}

	#footer {
		padding: 50px 0;
	}

	.footer-logo-parent {
		width: 100%;
	}

}


@media (max-width: 576px) {

	#footer {
		padding: 20px 0;
	}

	.footer-text-parent {
		text-align: center;
		padding: 0;
	}

	.form-block-parent-2 {
		margin-bottom: -100px;
	}

	.footer-text {
		text-align: left;
		font-size: 16px;
		line-height: 140%;
	}

	.footer-socials {
		margin: 0;
		width: 100%;
		-ms-flex-pack: distribute;
		justify-content: space-around;
	}

	.footer-socials-parent {
		width: 100%;
	}

	.footer-socials-link {
		margin: 0;
	}

	.footer-info {
		font-size: 12px;
		line-height: 15px;
	}

	.footer-socials-parent, .footer-text-parent {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}

}