.gallery-slider-card {
	padding: 0;
	background: #222831;
}
.gallery-slider .slider-item {
	width: 590px;
	margin-right: 32px;
}
.gallery-slider-content {
	padding: 32px 40px 48px 40px;
}
.gallery-slider-thumb {
	height: 495px;
	overflow: hidden;
}
.gallery-slider-thumb img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	object-position: center;
	border-radius: 20px 20px 0 0;
}
.gallery-slider-title {
	text-align: left;
	color: #fff;
	margin: 16px 0;
}
.gallery-more-link, .gallery-date {
	color: #fff;
}


.slider-main-btn {
	position: absolute;
	bottom: 0;
	left: 0;
}