#info-block {
	background: #fff;
	margin-top: 100px;
	padding: 30px 0;
	mix-blend-mode: lighten;
	position: relative;
}

#info-desc {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 60px;
}

.info-block-backdrop {

}

.info-block-parent {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.info-block-item {
	margin: 0 40px;
	-ms-flex-preferred-size: calc(100% / 3);
	flex-basis: calc(100% / 3);
}

.info-block-item p {
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;
	text-align: center;
	color: #000;
}
.info-block-count {
	font-weight: bold;
	font-size: 80px;
	line-height: 80px;
	text-align: center;
}

.info-block-bg {
	display: none;
}

@media (max-width: 768px) {

	.info-block-parent {
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}

	.info-block-item {
		margin: 0 20px;
	}

	.info-block-item p {
		font-size: 20px;
		line-height: 24px;
	}
	.info-block-count {
		font-size: 70px;
		line-height: 70px;
	}

}

@media (max-width: 576px) {

	#info-block {
		padding: 30px 0;
		position: relative;
	}

	.info-block-bg {
		display: block;
		position: -webkit-sticky;
		position: sticky;
		top: 0;
		right: 0;
		width: 100%;
		height: 200px;
		background: #fff;
		z-index: 1;
	}

	.info-block-parent {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}

	.info-block-item {
		z-index: 2;
		margin: 30px 0;
	}

	.info-block-item:first-child {
		margin-top: 0;
	}

	.info-block-item:last-child {
		margin-bottom: 0;
	}

}