.sponsor-info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 40px;
}
.sponsor-text-parent {
	flex-basis: 70%;
}
.sponsor-btn-parent {
	display: flex;
	justify-content: flex-end;
	flex-basis: 30%;
}

.donations-left {
	display: flex;
	align-items: center;	
}

.donations-card {
	width: 590px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.donations-image {
	flex-basis: 40px;
}
.donations-image img {
	width: 40px;
	height: 40px;
}
.donations-info {
	flex-grow: 1;
	margin-left: 16px;
}
.donations-tree-amount {
	display: block;
	padding: 8px 16px;
	background: #669999;
	border-radius: 20px;
	font-size: 14px;
	line-height: 20px;
	color: #FFFFFF;
}
.donations-date {
	margin-top: 10px;
	font-size: 12px;
	line-height: 20px;
	text-align: right;
	color: #393E46;
}


@media (max-width: 1276px) {

	.donations-card {
		width: calc(100% / 2 - 10px);
	}

}

@media (max-width: 992px) {

	.sponsor-info {
		flex-wrap: wrap;
	}

	.donations-card {
		width: calc(100% / 2 - 10px);
	}

	.sponsor-text-parent {
		flex-basis: 100%;
	}

	.sponsor-btn-parent {
		margin-top: 40px;
		flex-basis: 100%;
		justify-content: center;
	}

	.donations-cards {
		flex-direction: column;
		align-items: center;
	}

	.donations-card {
		width: 480px;
	}

}


@media (max-width: 768px) {



}


@media (max-width: 576px) {
	.donations-card {
		width: 100%;
		flex-direction: column;
		align-items: stretch;
	}

	.donations-review {
		display: none;
	}

	.donations-result {
		margin-top: 16px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.donations-date {
		order: -1;
	}
}